InformativeWallpaper/InformativeWallpaper/bin/*
InformativeWallpaper/InformativeWallpaper/obj/*
InformativeWallpaper/packages/*


InformativeWallpaper/WallpaperConfigPanelTestForm/bin/*
InformativeWallpaper/WallpaperConfigPanelTestForm/obj/*